.css-fkpkqq {
  max-width: none !important;
}

.css-l5xv05 .css-25j2b4 span {
  color: #c9c4c4 !important;
}

.css-11xzi44 .css-1huuf1k {
  padding: 0 !important;
  width: 260px !important;
}

.css-11xzi44 .css-17u1px6 {
  padding: 0 !important;
  width: 80px !important;
}

.css-11xzi44 .css-1huuf1k button.sl-icon.css-1mh9jgv {
  position: absolute !important;
  top: 59px !important;
  width: 32px !important;
  min-width: 32px !important;
  height: 32px !important;
}
