.app-ltr-14ws17n .app-ltr-1sewqwd .app-ltr-yjblfg:nth-of-type(2) {
  display: none !important;
}

.app-ltr-14ws17n .app-ltr-4okqtq .app-ltr-yjblfg:nth-of-type(2) {
  display: none !important;
}

.app-ltr-1wdhvac .app-ltr-1sewqwd .app-ltr-10qbfiq:nth-of-type(2) {
  display: none !important;
}

.app-ltr-g5knjt .app-ltr-1i6d63h:nth-of-type(4) {
  display: none !important;
}
