html body [data-mj="widget-banner-link"] {
  height: 500px !important;
}

html body [data-mj="widget-banner-link"] img {
  object-fit: fill !important;
}

@media (max-width: 768px) {
  html body [data-mj="widget-banner-link"] {
    height: 230px !important;
  }
}
